.PlayerLast {
  width: 28px;
  height: 47px;
  background: url('../../../resources/players/front/luigi.png') no-repeat;
  background-size: contain;
}

@media screen and (min-width: 750px) and (min-height: 500px) {
  .PlayerLast {
    width: 33px;
    height: 57px;
  }
}

@media screen and (min-width: 900px) and (min-height: 660px) {
  .PlayerLast {
    width: 40px;
    height: 68px;
  }
}

@media screen and (min-width: 1060px) and (min-height: 715px) {
  .PlayerLast {
    width: 48px;
    height: 82px;
  }
}

@media screen and (min-width: 1280px) and (min-height: 810px) {
  .PlayerLast {
    width: 58px;
    height: 99px;
  }
}

@media screen and (min-width: 1530px) and (min-height: 915px) {
  .PlayerLast {
    width: 70px;
    height: 120px;
  }
}