.HandCarte {
/*  width: 5%;
  height: 100%;*/
/*  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-radius: 10px;*/
  position: relative;
  bottom: -40px;
  overflow: hidden;
  background: url('../../resources/players/front/mario.png') no-repeat;
  background-size: contain;
}

@media screen and (min-width: 680px) {
  .HandCarte {
    width: 38px;
    height: 65px;
  }
}

@media screen and (min-width: 1000px) and (min-height: 580px) {
  .HandCarte {
    width: 59px;
    height: 100px;
  }
}

@media screen and (min-width: 1230px) and (min-height: 700px) {
  .HandCarte {
    width: 74px;
    height: 125px;
    bottom: -30px;
  }
}

@media screen and (min-width: 1530px) and (min-height: 830px) {
  .HandCarte {
    width: 94px;
    height: 160px;
  }
}

@media screen and (min-width: 1750px) and (min-height: 935px) {
  .HandCarte {
    width: 109px;
    height: 185px;
  }
}