.AppPoints {
  grid-area: app-points;
  padding-top: 1%;
  padding-left: 10%;
  padding-right: 10%;
  border-top: 1.5px solid black;
  border-left: 1.5px solid black;
  border-right: 1.5px solid black;
}

@media screen and (min-width: 600px) and (min-height: 580px) {
  .AppPoints {
  	padding-left: 5%;
  	padding-right: 5%;
  }
}

@media screen and (min-width: 1500px) {
  .AppPoints {
  	padding-left: 10%;
  	padding-right: 10%;
  }
}

@media screen and (min-width: 1700px) {
  .AppPoints {
  	padding-left: 17%;
  	padding-right: 17%;
  }
}

.AppPoints h1 {
  text-align: center;
  margin: 10px 0px 10px;
}