.Game {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 16% 68% 16%;
  grid-template-rows: 37% 47% 16%;
  grid-template-areas: "app-left-col app-deck app-right-col" "app-left-col app-points app-right-col" "app-hand app-hand app-hand";
}

.TestingButton {
  position: fixed;
  left: 16%;
  top: 10%;
  width: 50px;
  height: 30px;
}

.front.mario {
  background: url('../resources/players/front/mario.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.front.dk {
  background: url('../resources/players/front/dk.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.front.peach {
  background: url('../resources/players/front/peach.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.front.luigi {
  background: url('../resources/players/front/luigi.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.front.waluigi {
  background: url('../resources/players/front/waluigi.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.back.mario {
  background: url('../resources/players/back/mario.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.back.dk {
  background: url('../resources/players/back/dk.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.back.peach {
  background: url('../resources/players/back/peach.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.back.luigi {
  background: url('../resources/players/back/luigi.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.back.waluigi {
  background: url('../resources/players/back/waluigi.png');
  background-repeat: no-repeat;
  background-size: contain;
}