.Game {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 16% 68% 16%;
  grid-template-rows: 37% 47% 16%;
  grid-template-areas: "app-left-col app-deck app-right-col" "app-left-col app-points app-right-col" "app-hand app-hand app-hand";
}

.TestingButton {
  position: fixed;
  left: 16%;
  top: 10%;
  width: 50px;
  height: 30px;
}