.App {
  width: 100vw;
  height: 100vh;
  display: grid;

  grid-template-columns: 0.16fr 0.68fr 0.16fr;
  grid-template-rows: 0.37fr 0.47fr 0.16fr;
  grid-template-areas: "app-left-col app-deck app-right-col" "app-left-col app-points app-right-col" "app-hand app-hand app-hand";
}

h1 {
  margin: 0;
}