@font-face {
  font-family: "Super Mario 256";
  src: url("resources/SuperMario256.ttf") format("ttf"),
}

.App {
  width: 100vw;
  height: 100vh;
  background-color: #556D73;
  font-family: "Super Mario 256";
}

h1 {
  margin: 0;
  color: #fafafa;
}

h2 {
  color: #fafafa;
}

@media screen and (max-width: 905px) {
  h2 {
    font-size: 1em;
  }
}

@media screen and (max-height: 480px) {
  h1, h2 {
  	font-size: 1em;
  }
}